<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Homepage</title>
    {% endblock head %}
</head>

<body>
    {% block body %}
        <h1>Escolha seu classificador.</h1>
    
        {{ form.model }}

        <div id='stateHolder'>
            <form method='POST'>
                {% include "knn.html" %}
            </form>
        </div>

    {% endblock body %}
</body>
<script>
    let model = document.getElementById('model');
    model.onchange = function(){
        switch (model.value) {
            case 'knn':
                stateHTML = `{% include "knn.html" %}`
                break
            case 'mlp':
                stateHTML = `{% include "mlp.html" %}`
                break
            case 'rf':
                stateHTML = `{% include "rf.html" %}`
                break
            case 'svm':
                stateHTML = `{% include "svm.html" %}`
                break
        }
        document.getElementById('stateHolder').innerHTML = stateHTML
    }
</script>
</html>