<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Homepage</title>
    {% endblock head %}
</head>

<body>
    {% block body %}
        <h1>Escolha seu classificador.</h1>
    
        <a href="{{url_for('knn')}}">K-Nearest Neighbors</a><br>
        <a href="{{url_for('mlp')}}">Multilayer Perceptron</a><br>
        <a href="{{url_for('rf')}}">Random Forest</a><br>
        <a href="{{url_for('svm')}}">Support Vector Machine</a><br>

    {% endblock body %}
</body>
</html>