{% extends "base.html" %}

<header>
    {% block homebtn %}
    {% endblock %}
</header>

<body>
    {% block content %}
    <h1>Escolha seu classificador.</h1>
    
    <ul>
        <li><a href=" {{ url_for('train', model='knn') }} ">KNN</a></li>
        <li><a href=" {{ url_for('train', model='mlp') }} ">MLP</a></li>
        <li><a href=" {{ url_for('train', model='rf') }} ">RF</a></li>
        <li><a href=" {{ url_for('train', model='svm') }} ">SVM</a></li>
    </ul>
    
    
    {% endblock content %}
    
    {% block script %}
    <script>
        // let model = document.getElementById('model');
        // model.onchange = function(){
            //     switch (model.value) {
                //         case 'knn':
                //         stateHTML = `
                //                      
                //         break
                //         case 'mlp':
                //         stateHTML = `
                //                      
                //         break
                //         case 'rf':
        //         stateHTML = `
        //                      
        //         break
        //         case 'svm':
        //         stateHTML = `
        //                      
        //         break
        //     }
        //     document.getElementById('stateHolder').innerHTML = stateHTML
        // }
    </script>
{% endblock script %}
</body>